PORT=5000
MONGODB_URI=mongodb+srv://<db_username>:<db_password>@cluster0.mnb1am4.mongodb.net/mini-ecommerce?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=supersecretjwtkey_1234567890_minicommerce_secure
CLIENT_URL=http://localhost:5173
NODE_ENV=development
